/*
.about_page_section {
  background-color: var(--body-color);
} */

.about_banner {
  height: 450px;
  display: flex;
  align-items: center;
  width: 100%;
  /* padding-top: 0;
  margin-top: 0; */
  background: linear-gradient(180deg, #000000bd 0%, #e62d3000 75%, #000000 100%),
    url("/public/group/IMG_4040.jpg");
  /* background-attachment: fixed; */
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  justify-content: center;
  /* color: var(--secondary-color); */
  color: white;
  font-size: 3.5em;
  position: relative;
  text-align: center;
}

.abt-bg {
  width: 100%;
  height: 400px;
}

.about_banner span {
  border-bottom: 2px solid white;
  line-height: 1em;
}

.motto {
  background-color: #000000;
  color: white;
  font-style: italic;
  padding: 0px 15px 5px;
  /* font-weight: 900; */
  width: 100vw;
}

.about-logo-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  padding: 4%;
  background-color: #f4f4f4;
  gap: 1em;
}

.about-logo {
  float: left;
  border-radius: 50%;
  margin-right: 10px;
}

.fortress {
  font-weight: 900;
}

.about_page_text {
  display: flex;
  gap: 3em;
  line-height: 2em;
}

.about_page_text div {
  text-align: justify;
  font-size: 1em;
  color: #000000;
}

.vision_mission_statement {
  padding: 0;
  display: flex;
  height: fit-content;
  flex-direction: column;
  align-items: center;
  text-align: justify;
  gap: 2em;
  background-repeat: no-repeat;
  background-position: bottom;
  position: relative;
}

.vision_img_flex {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 2em;
  padding: 100px 5%;
}

.vision_container,
.values-container {
  display: flex;
  flex-direction: column;
  width: 50%;
  gap: 1em;
  background-color: rgba(40, 180, 133, 0.208);
  height: 450px;
  padding: 20px;
  border-radius: 0px;
}

.vision_container:hover,
.values-container:hover {
  transform: scale(1.05);
  box-shadow: 5px 10px 30px #0000005e;
}

.vision_mission {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
  color: #000000;
  font-size: 1em;
  position: relative;
  border-radius: 5px;
}

.vision_mission h4,
.our_values h4,
.vision_header {
  font-size: 2em;
  font-family: "Lato";
  color: #000000;
  /* background-color: var(--primary-dark-color);
  color: #ffffff; */
  width: fit-content;
  border-bottom: 2px solid var(--secondary-color);
  font-weight: 500;
}

.our_values {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
}

.values {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
}

.values p {
  border-radius: 5px;
  color: #000000;
}

.values p span {
  color: var(--primary-dark-color);
  font-weight: 800;
}

.vision_img {
  width: 100%;
  height: 300px;
  display: flex;
  gap: 4px;
  padding: 0px 2%;
  position: relative;
  border-radius: 5px;
}

.vision_img_1 {
  height: 100%;
  background: url("/public/group/IMG_4215.JPG");
  background-size: cover;
  flex: 1;
  z-index: 10;
  transition: all 0.2s;
  outline-offset: 0.8em;
  border: 5px solid #55c57a;
}

.vision_img_2 {
  height: 100%;
  background: url("/public/group/IMG_4227.JPG");
  background-size: cover;
  background-repeat: no-repeat;
  flex: 1;
  z-index: 10;
  transition: all 0.2s;
  outline-offset: 0.8em;
  border: 5px solid #55c57a;
  margin-top: -35px;
}

.vision_img_3 {
  height: 100%;
  background:
    url("/public/group/IMG_3862.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  flex: 1;
  z-index: 20;
  transition: all 0.2s;
  outline-offset: 0.8em;
  border: 5px solid #55c57a;
}

.vision_img_4 {
  height: 100%;
  background:
    url("/public/greenhouse/IMG_3951.jpg");
  background-size: cover;
  background-repeat: no-repeat;
   flex: 1;
  z-index: 20;
  transition: all 0.2s;
  outline-offset: 0.8em;
  border: 5px solid #55c57a;
  margin-top: -35px;
}
.vision_img_5 {
  height: 100%;
  background:
    url("/public/IMG-0060.JPG");
  background-size: cover;
  background-repeat: no-repeat;
  flex: 1;
  z-index: 20;
  transition: all 0.2s;
  outline-offset: 0.8em;
  border: 5px solid #55c57a;
}
.vision_img_6 {
  height: 100%;
  background:
    url("/public/IMG-0084.JPG");
  background-size: cover;
  background-repeat: no-repeat;
  flex: 1;
  z-index: 20;
  transition: all 0.2s;
  outline-offset: 0.8em;
  border: 5px solid #55c57a;
  margin-top: 35px;
}
.vision_img_7 {
  height: 100%;
  background:
    url("/public/group/IMG_4277.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  flex: 1;
  z-index: 20;
  transition: all 0.2s;
  outline-offset: 0.8em;
  border: 5px solid #55c57a;
  margin-top: -30px;
}
.vision_img_8 {
  height: 100%;
  background:
    url("/public/group/IMG_4227.JPG");
  background-size: cover;
  background-repeat: no-repeat;
  flex: 1;
  z-index: 20;
  transition: all 0.2s;
  outline-offset: 0.8em;
  border: 5px solid #55c57a;
}

.vision_img_1:hover,
.vision_img_2:hover,
.vision_img_3:hover,
.vision_img_4:hover,
.vision_img_5:hover,
.vision_img_6:hover,
.vision_img_7:hover,
.vision_img_8:hover {
   outline: 10px solid #55c57a;
  transform: scale(1.1);
  box-shadow: 0 2.5rem 4rem rgba(0, 0, 0, 0.5);
  z-index: 1000;
  border: 0;
}

.our_pastor {
  display: flex;
  gap: 4em;
  padding: 60px 5% 80px;
  background: linear-gradient(
    to right bottom,
    rgba(28, 76, 19, 0.222),
    rgba(40, 180, 133, 0.202)
  );
  /* background-color: #07182a; */
  /* background-color: #d8f4cd; */
  color: black;
  text-align: justify;
}

.pastor_text {
  width: 60%;
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.pastor_text div {
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.pastor_text h3 {
  font-size: 2em;
  text-decoration: underline 2px black;
  border-bottom: none;
  /* color: #ffffff; */
}

.pastor_text span {
  font-weight: bold;
}

.pastor_img {
  width: 40%;
  background-image: url("/public/desmond-jummy.jpeg");
  background-size: cover;
  background-repeat: no-repeat;
  /* border: 4px solid var(--secondary-color); */
  /* box-shadow: 10px 10px 0px var(--secondary-color); */
}

.pst_pic {
  width: 100%;
  height: 100%;
}
