.contact_section {
  /* background-image: linear-gradient(
    to right bottom,
    rgba(28, 76, 19, 0.222),
    rgba(40, 180, 133, 0.202)
  ); */
  background: var(--primary-dark-color);
  height: 100%;
  padding: 150px 0 0;
}

.contact_section h4 {
  font-size: 1.8em;
  text-decoration: underline var(--primary-dark-color);
  width: fit-content;
  letter-spacing: -1px;
}

.landing_contact_text {
  display: flex;
  gap: 0.2em;
  text-align: justify;
  flex-direction: column;
  width: 100%;
}

.contact_section span.text {
  width: 100%;
  font-size: 1em;
  opacity: 1;
  text-align: justify;
}

.contact_container {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  margin: auto;
  width: 75%;
  height: 100%;
  border-radius: 4px 4px 0 0;
  background-image: linear-gradient(
      90deg,
      transparent 0%,
      transparent 50%,
      rgba(255, 255, 255, 0.533) 50%
    ),
    url("/public/group/IMG_3696.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-color: var(--secondary-color);
}

.form-skewed {
  /* background-color: #ECEFF1; */
  width: 500px;
  opacity: 0.9;
  /* clip-path: polygon(0 0, 100% 75%, 0% 75%, 0 100%); */
}

.div_form {
  display: flex;
  flex-direction: column;
  gap: 2em;
  padding: 30px 50px;
  width: 100%;
  height: 100%;
  position: relative;
  opacity: 1;
  /* background-color: var(--secondary-color); */
}

.div_form form {
  display: flex;
  flex-direction: column;
  gap: 1em;
  width: 100%;
  /* position: absolute;
  z-index: 100000;
  top: 200px; */
}

.div_form .form {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
  width: 100%;
  /* border-radius: 10px; */
}

.div_form .form div {
  display: flex;
  flex-direction: column;
}

.div_form input {
  height: 40px;
  padding: 0 10px;
  border: 0;
  border-radius: 5px;
  /* border: 1px solid var(--primary-dark-color); */
  font-size: 1em;
  outline: 0;
  background: #ffffff;
  color: #000000c1;
}

.div_form .form span {
  /* color: #ffffff; */
  font-size: 0.9em;
}

.div_form select {
  height: 40px;
  padding: 0 10px;
  border: 0;
  border-radius: 5px;
  /* border: 1px solid var(--primary-dark-color); */
  font-size: 1em;
  outline: 0;
  background: #ffffff;
  color: #000000c1;
}

.div_form .select {
  opacity: 0.4;
}

.div_form .form textarea {
  border: 0;
  border-radius: 5px;
  /* border: 1px solid var(--primary-dark-color); */
  padding: 10px;
  font-size: 1em;
  outline: 0;
  background: #ffffff;
  color: #000000c1;
}

.form .file_input {
  display: flex;
}

.div_form .attach {
  font-size: 1.1em;
  color: #ffffff;
}

.div_form button {
  width: fit-content;
  padding: 15px 40px;
  margin-top: 20px;
  text-transform: uppercase;
  border: none;
  border-radius: 50px;
  background-color: var(--primary-dark-color);
  font-size: 1.1em;
  color: white;
}

.div_form button:hover {
  background-color: var(--secondary-color);
  transform: scale(1.05);
  transition: all 0.3s ease-in-out;
}

.contact_pic {
  width: 40%;
  height: 100%;
  /* background-image: url("/public/group/IMG_3696.jpg");
  background-color: #28b485;
  background-size: cover;
  background-repeat: no-repeat;
  background-color: var(--secondary-color); */
}
